{% extends base_template|default:"base.html" %}


{% block base_content %}

  <div align="center">
    <h2>{{ object }}</h2>
  </div>
  <br>
  <div>
    {% if object.department_set.all %}
      <div>
        <h4>Departments: </h4>
      </div>
    {% endif %}
    <div>
      <table cellpadding="4">
        {% for department in object.department_set.all %}
          <tr>
            <td>
              <a href="{% url department.acronym %}">{{ department }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <div>
      <h4>Financing: </h4>
    </div>
    <div>
      <p>{{ object.financing|floatformat:"2g" }} ₽</p>
    </div>
    {% if user.is_authenticated %}
      <div>
        <div>
          <h4>Add Department</h4>
        </div>
        <div>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <div>
              <input type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock base_content %}