body {
    background: #2d2a2e;
    color: #fcfcfa;
}

a {
    color: #bba171;
}

a:link {
    color: #f7ad24;
}

a:active {
    color: #ffffff;
}

.monokai_pro {
    background: #2d2a2e;
    color: #fcfcfa;
}